*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}
h1{
    text-align: center;
    margin: 80px 0;
    text-transform: uppercase;
    font-size: 3em;
}
#content{
    display: grid;
    width: fit-content;
    margin: 0 auto;
    grid-template-columns: repeat(5, 200px);
    gap: 30px;
}
#content > div{
    border: 1px solid lightgoldenrodyellow;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    height: 200px;
    line-height: 200px;
    border-radius: 20%;
    font-size: 1.5em;
    background-color:antiquewhite;
}
#content .FizzBuzz{
    background-color: lightcoral;
}
#content .Fizz{
    background-color: lightblue;
}
#content .Buzz{
    background-color: lightgreen;
}